h1 {
    margin-top: 200px;
    font-family: 'DancingScript-Regular', serif;
    font-size: 70px;
    color: #F2EDD5;
    margin-left: 90px;
}

p {
    font-family: 'poppins', sans-serif;
    color: #F2EDD5;
    font-size: 30px;
    margin: 90px
}


.infos {
    display: flex;
    margin: 90px;
    background-color: #6D7E8C;
    width: 85%;
    border-radius: 20px;

}