.infos h1 {
    margin-top: 200px;
    font-family: 'DancingScript-Regular', serif;
    font-size: 70px;
    color: #F2EDD5;
    margin-left: 90px;
}

.infos a {
    font-family: 'poppins', sans-serif;
    color: #F2EDD5;
    font-size: 30px;
    margin: 90px
}

a button {
    font-family: 'poppins', sans-serif;
    background-color: #6D7E8C;
    color: #F2EDD5;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 60px;
    
}

a button:hover {
    background-color: #353d46;
}

p {
    font-family: 'poppins', sans-serif;
    color: #F2EDD5;
    font-size: 30px;
    margin: 90px
}   

.projeto1 {
    display: flex;
    margin: 90px;
    background-color: #6D7E8C;
    width: 85%;
    border-radius: 20px;

}

.projeto2 {
    display: flex;
    margin: 90px;
    background-color: #6D7E8C;
    width: 85%;
    border-radius: 20px;

}